.Toolbar {
  height: 250px;
  width: 100%;
  overflow: auto;
  justify-content: center;
  align-items: center;
}

.Logo {
  height: 50px;
  width: 20%;
  padding-left: 35px;
  padding-top: 25px;
  text-align: left;
  color: rgb(43, 0, 56);
  font-size: 30px;
  font-family: Metal Mania, cursive;
}
.Logo a {
  text-decoration: none;
  color: rgb(43, 0, 56);
}

.Navigation {
  display: flex;
  justify-content: space-evenly;
}
