.NavigationItem {
  margin: 0;
  box-sizing: border-box;
  display: flex;
  height: 100%;
  align-items: center;
  font-weight: bold;
  font-size: medium;
}

.NavigationItem a {
  color: rgb(43, 20, 23);
  text-decoration: none;
  height: auto;
  padding: 16px 10px;
  border-bottom: border-box;
  display: block;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
  background-color: hsl(186, 60%, 42%);
  border-radius: 7px;
  color: white;
  font-weight: bold;
}
