.Contact {
  border: 2px solid green;
}

.form {
  width: 30%;
  padding: 20px;
  align-items: center;
  margin: auto;
  border: 2px solid black;
}

.form input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.form label {
  text-align: left;
}