.Content {
  margin-top: 0px;
  justify-content: center;
  text-align: center;
  padding: 10px;
  height: 100%;
  border-radius: 1px;
}

/* .Bg {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to right, #89f7fe, #66a6ff);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
} */
